<div id="conversorPanel" class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <div class="card text-center">
        <div class="card-header">
          Conversor
        </div>
        <div class="card-body">
          <p class="card-text">Seleccione la divisa a convertir</p>
          <form [formGroup]="conversorForm">
            <div class="form-group">
              De
              <div class="row justify-content-center">
                <select 
                  class="form-control text-center col-lg-9" 
                  formControlName="divisaOrigen"
                  (change)="onChange($event.target.value)"
                  >
                  <option
                    *ngFor="let divisa of divisas$ | keys" 
                    [attr.value]="divisa.key"
                    [attr.selected]="divisa.key == 'ARS' ? true : null"
                  >
                  {{divisa.key}} - {{divisa.value.currencyName}}
                  </option>
                </select>
              </div>
              a 
              <div class="row justify-content-center">
                <select 
                  class="form-control text-center col-lg-9" 
                  formControlName="divisaDestino"
                  (change)="onChange($event.target.value)"
                  >
                  <option
                    *ngFor="let divisa of divisas$ | keys" 
                    [attr.value]="divisa.key"
                    [attr.selected]="divisa.key == 'USD' ? true : null"
                  >
                    {{divisa.key}} - {{divisa.value.currencyName}}
                  </option>
                </select>
              </div>
            </div>

            <div>
              <h5>Cotización actual</h5>
              {{divisas$[cotizacionDivisa$.fr].currencySymbol + ' ' +cotizacionDivisa$.val}}
            </div>

            <a href="#" class="btn btn-primary">Convertir</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




