<div id="conversorPanel" class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-6">
      <div class="card text-center">
        <div class="card-header">
          Conversor
        </div>
        <div class="card-body">
          <p class="card-text">Seleccione la divisa a convertir</p>
          <form>
            <div class="form-group">
              De
              <div class="row justify-content-center">
                <select 
                  class="form-control col-lg-10 col-md-8"
                  (change)="onChangeDivisa()"
                  [(ngModel)]="divisaOrigen"
                  name="divisaOrigen"
                  >
                  <option
                    *ngFor="let divisa of divisas$ | keys" 
                    [attr.value]="divisa.key"
                    [attr.selected]="divisa.key == divisaOrigen ? true : null"
                  >
                  {{divisa.key}} - {{divisa.value.currencyName}}
                  </option>
                </select>
              </div>
              a 
              <div class="row justify-content-center">
                <select 
                  class="form-control col-lg-10 col-md-8" 
                 [(ngModel)]="divisaDestino"
                  name="divisaDestino"
                  (change)="onChangeDivisa()"
                  >
                  <option
                    *ngFor="let divisa of divisas$ | keys" 
                    [attr.value]="divisa.key"
                    [attr.selected]="divisa.key == divisaDestino ? true : null"
                  >
                    {{divisa.key}} - {{divisa.value.currencyName}}
                  </option>
                </select>
              </div>
            </div>

            <div class="row justify-content-center">
              <input 
                type="number" 
                name="valorAConvertir" 
                (change)="convertir()"
                [(ngModel)]="valorAConvertir" 
                class="form-control col-lg-4 col-md-3" 
                id="valor" 
                placeholder="Valor a convertir...">
            </div>

            <div *ngIf="valorAConvertir!='0'" class="row justify-content-center">
              <h5 class="col-lg-12 col-md-12">{{valorAConvertir}} = {{valorConvertido}}</h5>
            </div>
            
            <div *ngIf="divisas$!=null && cotizacionDivisa$!=null">
              <h5>Cotización actual</h5>
              {{divisas$[cotizacionDivisa$.to].currencySymbol + ' ' +cotizacionDivisa$.val}}
            </div>
            <a href="#" class="btn btn-primary">Convertir</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




